APP_NAME=TRAVEL
APP_ENV=dev

BACKEND_PORT=4000
BACKEND_HOST_PORT=4000
BACKEND_DB_HOST=postgres
BACKEND_DB_PORT=5432
BACKEND_DB_HOST_PORT=5432
BACKEND_DB_DATABASE=travel
BACKEND_DB_USERNAME=root
BACKEND_DB_PASSWORD=secret

FRONTEND_PORT=3000
FRONTEND_HOST_PORT=3000
FRONTEND_BACKEND_ENDPOINT=http://backend:4000
